:root {
  --HeaderColor: Tomato;
  --TableColor: #000000;
  --ButtonColor: Violet;
  --TextColor2: rgb(255, 255, 255);
  --TextColor3: hsla(360, 100%, 100%, 0.5);
}

body {
  background-color: LightBlue;
}

h1 {
  color: var(--HeaderColor);
  text-align: center;
}

div {
  text-align: center;
}

#gamebutton {
  background-color: var(TableColor);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 70%;
}
