:root {
  --HeaderColor: Tomato;
  --TableColor: #000000;
  --TextColor2: rgb(255, 255, 255);
  --TextColor3: hsla(360, 100%, 100%, 0.5);
}

body {
  background-color: LightBlue;
}

h1 {
  color: var(--HeaderColor);
  text-align: center;
}

table {
  width: 80%;
  margin: 5%;
}

th {
  color: var(--TableColor);
  font-size: 15px;
}

td {
  color: var(--TableColor);
  font-size: 15px;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

div {
  text-align: center;
}
