<!DOCTYPE html>
<head>
  <title>Node</title>
  <link rel="stylesheet" href="../static/core.css">
</head>

<body>
  <div class="banner">
    <h1 class="banner">Node</h1>
  </div>

  <table>
    <tr>
      <th/>
      <th>μPet</th>
      <th>Owner</th>
      <th>Hunger</th>
      <th>Happiness</th>
      <th>Energy</th>
    </tr>
    {% for values in chars %}
    <tr>
      <td>image</td>
      <td>{{ values[0] }}</td>
      {% if owner != "None" %}
      <td>{{ owner }}</td>
      {% else %}
      <td><button type="button">Claim</button></td>
      {% endif %}
      <td>{{ values[1] }}</td>
      <td>{{ values[2] }}</td>
      <td>{{ values[3] }}</td>
    </tr>
    {% endfor %}
  </table>
  <div>
    <button type="button" onclick=OnClick()>Click Me!</button>
    <button type="button" onClick=getCharId()>Add Pet</button>
  </div>

</body>
</html>

<script src="../static/test.js"></script>
