<!DOCTYPE html>
<head>
  <title>Profile</title>
  <link rel="stylesheet" href="../static/core.css">
  <link rel="stylesheet" href="../static/profile.css">
</head>
<body>

  <div class="banner">
    <br>
    <h1 class="banner">{{ USER }}'s Profile</h1>
    <br>
  </div>
  <h3>Your μPets</h3>

  <table>
    <tr>
      <th/>
      <th>μPet</th>
      <th>Hunger</th>
      <th>Happiness</th>
      <th>Energy</th>
    </tr>
    {% for values in chars %}
    <tr>
      <td>image</td>
      <td>{{ values[0] }}</td>
      <td>{{ values[1] }}</td>
      <td>{{ values[2] }}</td>
      <td>{{ values[3] }}</td>
    </tr>
    {% endfor %}
  </table>

  <div>
    <button type="button" onclick=OnClick()>Click Me!</button>
    <button type="button" onClick=getCharId()>Add Pet</button>
  </div>

</body>
</html>

<script src="../static/test.js"></script>
